body{
  background: #f4f4f4;
  margin: 0;
}
form{
  max-width: 60%;
  margin: auto;
  background: #ffffff;
  padding-top: 0px;
  height: 100%;
}
.form-header{
  text-align: center;
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.8rem;
  padding-top: 2rem;
}
.block-header{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3rem;
}
.input-block {
  display: block;
  font-family: 'PT Sans', sans-serif;
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.radio{
  margin-right: 2rem;
}
.select{
  width: 40%;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
}
